<div style="text-align: center">
  <h1>
    {{title}}
  </h1>
</div>
<div>
  <table class="center-hor layout-table" width="500px">
    <thead>
      <tr class="header-table-gray">
        <th>ID</th>
        <th>
          Nome Mercadoria
        </th>
        <th>
          Quantidade Estoque
        </th>
        <th>
          Quantidade Minima
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let mercadoria of mercadorias; let i=index">
        <td>
          {{mercadoria.id}}
        </td>
        <td>
          {{mercadoria.descricao}}
        </td>
        <td>
          {{mercadoria.quantidadeEstoque}}
        </td>
        <div *ngIf="mercadoria.quantidadeEstoque <= mercadoria.quantidadeMinima; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><td style="color: red;">{{mercadoria.quantidadeMinima}}</td></ng-template>
        <ng-template #elseBlock><td style="color: black;">{{mercadoria.quantidadeMinima}}</td></ng-template>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-input">
  Novo ID: <span [ngModel]="novaMercadoria.id">{{novaMercadoria.id}}</span> <br>
  Descricao:
  <input type="text" name="descricao" class="width-100" /><br>
  Quantidade estocada:
  <input type="text" name="quantidadeEstoque" class="width-100" /><br>
  Quantidade de compra:
  <input type="text" name="quantidadeMinima" class="width-100" />
</div>
